<div class="sidebar sb-slidebar sb-left" style="padding-top: 60px;">
  <nav>
    <ul class="sb-menu">        
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Query", query_path %></li>
      <li><%= link_to "Search", search_path %></li>
      <li><%= link_to "CRUD", crud_path %></li>
      <li><%= link_to "Describe", describe_path %></li>
      <li><%= link_to "Analytics", analytics_path %></li>
      <li><%= link_to "Apex REST", apex_rest_path %></li>
    </ul>
  </nav>
</div>